vue
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

模板语法
    <span>{{message}}</span>
    <span v-once>{{message}}</span>
    <span v-html="message"></span>
    <div v-bind:id="dynamicId"></div>
    <div v-bind:disabled="isButtonDisabled"></div>

    <span>{{number + 1}}</span>
    <span>{{ ok? 'YES' : 'NO' }}</span>
    <span>{{message.split().reverser().join('')}}</span>
    
    <p v-if="seen">现在你可以看得到我</p>
    <p v-bind:href="url"></p>
    <a v-on:click="doSomething"></a>
    <!-- 修饰符. -->
    <form v-on:submit.prevent="onSubmit"></form>    
    <!-- 这里的.prevent 代表对于触发的事件调用 event.preventDefault() -->


    <!-- v-bind 和 v-on -->
    <!-- 可以缩写为 : 和 @ -->

计算属性

    <div id="example">
        {{ message.split().reverse().join('') }}
    </div>

    对于复杂的处理不应该在模板中进行处理，而是应该使用计算属性

    <div id="example">
        <p>origin message : "{{ message }}"</p>
        <p>computed message : "{{ reversedMessge }}"</p>
        <p>funticon computed message : "{{ computedMessage() }}"</p>
        {{fullName}}

        <!-- 动态修改class，class的有无根据对应的value是否truthiness判定 -->
        <div v-bind:class="{ active:isActive,'text-danger':hasError}"></div>
        <!-- 另外一种动态修改class的方法，可以不用内联的写在html中。 -->
        <div v-bind:class="classObject"></div>
        <!-- 这里的classObject可以是data，也可以是computed_data -->
        <div v-bind:class="[activeClass,errorClass]"></div>
        <!-- 这里的数组语法，可以把对应data的数值作为class列表的值 -->
        <div v-bind:class="[isActive ? activeClass:'',errorClass]"></div>
        <div v-bind:class="[{active:isActive},errorClass]"></div>
    </div>
    <script>
        
    var vm = new Vue({
        el : '#example',
        data : {
            message : 'hello',
            isActive:true,
            hasError:false,
            classObject:{
                active:true,
                'text-danger':false,
            }
        },

        // 采用计算属性和方法的区别是计算属性会基于依赖进行缓存，只有当依赖发生变化时，才会进行更新

        computed: {
            reversedMessage: function () {
                return this.message.split('').reverse().join('')
            },
            now: function () {
                return Date.now()
                // 方法将会失效，因为这个方法没有依赖，也就不会进行更新
            },
            classObject: {
                active :this.isActive && !this.error,
                'text-danger': this.error && this.error.type === "fatal"
            }
        },
        methods: {
            reversedMessage: function () {
                return this.message.split('').reverse().join('')
            },
            now: function () {
                return Date.now()
                // 方法成功，因为使用方法不会有缓存。
            }
        },
        watch:{
            firstName: function (val) {
                this.fullName = val + ' '  
            }
        }
        
    })
    </script>


绑定内联的样式
    <!-- 常规语法 -->
    <div id="test" v-bind:style="{color:activeColor,fontSize:fontSize+'px'}">
        <!-- 样式对象语法 -->
        <div v-bind:style="styleObject"></div>
        <!-- 数组语法，可以将多个样式绑定到一个对象上 -->
        <div v-bind:style="[baseStyles,overridingStyles]"></div>

        <!-- vue使用需要添加浏览器引擎前缀的css属性时，会自动添加相应的前缀 -->
    </div>
    <script>
        var vm = new Vue({
            el:'#test',
            data:{
                styleObject:{
                    color:'red',
                    fontSize:'13px'
                }
            }
        })
    </script>

条件渲染

    <h1 v-if="ok">this is ok</h1>
    <h1 v-else-if="fine">this is fine</h1>
    <!-- else必须紧跟这ok元素，否则失效 -->
    <h1 v-else>this is not ok</h1>

    <!-- 如果需要一次条件多个元素,可以使用template元素，这个元素实际上是个空元素，渲染后会小时 -->
    <template v-if="ok">
        <ol>
            <li>this</li>
            <li>is</li>
            <li>ok</li>
        </ol>
    </template>


    <!-- vue会尽可能的重用已有的元素，这可能导致一些元素的信息残留，这是可以使用key来区分不同的元素，强制重新渲染元素而不是重用元素 -->
    <template v-if="loginType === 'username'">
        <label>username</label>
        <input placeholder="enter your username" key="username-input">
    </template>
    <template v-else>
        <label>email</label>
        <input placeholder="enter your email" key="email-input">
    </template>

    <!-- v-show 仅仅修改display属性，但是非惰性，v-if是惰性的，只有在第一次为真的时候才会开始渲染，切换开销也较大 -->

列表渲染
    <ul id="example-1">
        <!-- 简单的for列表渲染 -->
        <li v-for="item in items">
            {{item.message}}
        </li>
        <!-- 带索引的v-for,且对父作用域有完全的访问权限 -->
        <li v-for="(item,index) in items">
            {{parentMessage}} - {{index}} - {{item.message}}
        </li>

        <!-- 迭代对象 -->
        <li v-for="value in object"></li>
        <li v-for="(value,key) in object"></li>
        <li v-for="(value,key,index) in object"></li>

        <!-- v-for的优先级高于v-if,所以可以再v-if中引用v-for中的迭代临时变量来做筛选 -->
        <li v-for="todo in todos" v-if="!todo.idComplete">{{todo}}</li>

        <!-- 利用key防止元素重用导致的状态残留 -->
        <div v-for="item in items" :key="item.id"></div>
    
        <!-- 进行十次重复渲染 -->
        <template v-for="n in 10"></template>
    </ul>



    <!-- 也可以用of来迭代 -->
    <!-- v-for的迭代内容可以是一个计算属性或方法 -->
    <script>
    var example1 = new Vue({
        el:'#example',
        data:{
            parentMessage:'Parent',
            items:[
                {message:'foo'},
                {message:'bar'}
            ],
            object:{
                firstName:'John',
                lastName:'Doe',
                'age':30
            }
        }
    })
    
    </script>

事件处理

    <div id="test">
        <button v-on:click="counter += 1">Add 1</button>
        <button v-on:click="greet"></button>
        <button v-on:click="say('hello')"></button>
        <!-- 捕获原生dom事件使用 $event -->
        <button v-on:click="say('hello',$event)"></button>        
        <p>added {{counter}} times</p>
    </div>

    <script>
        var vm = new Vue({
            el:"#test",
            data:{
                counter:0
            },
            methods:{
                greee:function (event) {
                    alert("hello" + this.name + '!')
                    if(event){
                        alert(event.target.tagName)
                    }
                },
                say:function (message,event){
                    if(event) event.preventDefault();
                    alert(message)
                }
            }
        })
    </script>

    <!-- 事件修饰符 -->
    <!-- 修饰符可以串联 -->
    .stop .prevent .capture .self .once

    .capture
    <!-- 内部元素触发的事件先在此处处理，然后才交由内部元素自身进行处理 -->
    
    .self
    <!-- 仅在event.target 是元素自身时触发处理函数，即事件不是内部元素触发的 -->

    .stop
    <!-- 阻止继续传播 -->

    .prevent
    <!-- 提交时间不再重载页面 -->

    .once
    <!-- 只会触发一次的事件，仅在第一次发生时触发 -->

    <input type="text"  v-on:keyup.13+"submit">
    <!-- 监听键盘事件 -->

    <!-- 常见的别名 -->
    <input type="text" v-on:keyup.enter="submit">
    <input type="text" @keyup.enter="submit">

    enter,tab,delete,esc,space,up,down,left,right


表单输入绑定

    <input type="text" v-model="message">
    <p>Message is:{{message}}</p>

    <input type="checkbox" v-model="checkd">
    <label for="" >{{checked}}</label>


    <!-- 多个复选框可以绑定到一个数组 -->
    <div id="example">
        <input type="text" id='jack' value="jack" v-model="checkNames">
        <input type="text" id='jack' value="jack" v-model="checkNames">
        <input type="text" id='jack' value="jack" v-model="checkNames">
        <span>checked names {{checkedNames}}</span>
    </div>

    <script>
        new Vue({
            el:'#example',
            data:{
                checkedNames:[]
            }
        })
    </script>

    <!-- 单选按钮 选择框类似 -->

    <div id="example">
            <label for="">One</label>
            <input type="radio" id='one' value="One" v-model="picked">
            <span>picked names {{picked}}</span>
    </div>
    
        <script>
            new Vue({
                el:'#example',
                data:{
                    picked:''
                }
            })
        </script>

    <!-- 选择框，多选时绑定到一个素组 -->

    <div id="example">
        <select v-model="selected">
            <option value="" disabled>请选择</option>
            <option >A</option>
            <option >B</option>
        </select>
    </div>
    
        <script>
            new Vue({
                el:'#example',
                data:{
                    selected:''
                }
            })
        </script>

    <!-- 输入绑定的修饰符 -->

    .lazy, .number, .trim,
    .lazy
    <!-- 在change发生时才触发，而不是input发生时触发 -->

    .number
    <!-- 自动转换为数值类型 -->

    .trim
    <!-- 自动去除首尾的空白字符串 -->



组件
    <!-- 扩展html元素，封装可以重用的代码 （自定义html元素） -->
    <!-- 所有的vue组件同时也是Vue实例 -->

    <!-- 全局注册 -->
    <div id="example">
            <my-cpmponent></my-cpmponent>
    </div>
    <script>
        // 注册全局组件
        Vue.component('my-component',{
            // 选项
            template : '<div>A custom component{{message}}</div>',
            data:function () {
                return {
                    message : "this is a message"
                }
            }
        })
        

        var Child = {
            template : "<div>A custom component</div>"
        }
        // 创建根实例
        new Vue({
            el:'#example',
            // 选项
            components: {
                // 局部组件
                'my-component' : Child
            }
        })
        
    </script>

组件的组合

    <!-- camelCase 需要转换为. kebab-case -->
    <child my-message="hello"></child>
    <child v-bind:my-message="this is another message"></child>

    <script>
    Vue.component('child',{
        // 声明props
        // props: ['myMessage'],
        props:{
            propA:Number, // 类型验证
            propB: [String,Number], // 多类型验证
            propC: {  // 必传且为字符串
                type: String,
                required:true
            },
            propD: { // 数字且带有默认值
                type:Number,
                default: 100,
            },
            propE: { // 数组，对象的默认值应该由一个工厂函数返回
                type: Object,
                default : function () {
                    return {message:'hello'}
                }
            },
            propF: { // 对数据进行自定义验证
                validator : function (value) {
                    return value > 10
                }
            }
        },
        // 与data类似，prop也可以在模板中使用
        template: '<span>{{ myMessage }}</span>'
    })

    // 对于模板中的class 和style，父组件传递给子组件的class和style不会覆盖，而是会合并
    </script>

    <!-- 组件的自定义事件（用于子组件向父组件通信） -->
    <!-- 每个vue实例实现了事件接口 -->
    <!-- $on(eventName) 监听事件 -->
    <!-- $emit(eventName) 触发事件 -->

    <div id="counter-event-example">
        <p>{{total}}</p>
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter v-on:increment="incrementTotal"></button-counter>
    </div>

    <script>
        Vue.component('button-counter',{
            template : '<button v-on:click="incrementCounter">{{counter}}</button>',
            data:function () {
                return {
                    counter : 0
                }
            },
            methods : {
                incrementCounter : function() {
                    this.counter +=1 
                    // 与外部组件解耦合
                    this.$emit('increment')
                }
            }
        })

        new Vue({
            el:'#counter-evnet-example',
            data:{
                total:0
            },
            method:{
                incrementTotal: function () {
                    this.total += 1
                }
            }
        })
    </script>



    <!-- 自定义组件的v-model -->

    <script>
        Vue.component('my-checkbox',{
            model:{
                prop:'checked',
                event:'change'
            },
            props : {
                checked :Boolean,
                value:String,
            }

        })
    </script>


    <!-- 非父子组件间的通信 -->
    <script>
    // 需要一个空的Vue实例作为事件总线
    var bus = new Vue()
    // 触发上组建A中的事件
    bus.$emit('id-selected',1)
    
    // 在组件B中创建的钩子中监听事件
    bus.$on('id-selected',function(id){

    })
    </script>


    <!-- 动态组件 -->
    可以使用is特性来动态修改组件，使用keep-alive可以保留状态避免被重新渲染
    <keep-alive>         
    <component v-bind:is="currentView"></component>   
    </keep-alive>            
            
    <script>

        var archive = {
            template : '<p>welcome<p>'
        }
        var vm = new Vue({
            data:{
                currentView: 'home'
            },
            components:{
                home : { /* ... */},
                posts : {/* ... */},
                archive : archive
            }
        })
    </script>